

* {
    -fx-background: #444444;
    -fx-font-family: 'Montserrat';
        
}
.root{
    -fx-background: #444444;
    -fx-font-family: 'Montserrat';
}
.btn {
    -fx-background-color: #444444;
}

.btn {
    -fx-background-color: #444444;
    -fx-border-color: #BEBEBE;
    -fx-border-radius: 8px;
    -fx-background-radius: 8;
}

.btn:hover {
    -fx-background-color: #666666;
    -fx-border-radius: 8px;
}

.input,
.text-area {
    -fx-background-color: #444444;
    -fx-border-color: #BEBEBE;
    -fx-border-radius: 8px;
    -fx-text-fill: #dfdfdf;
    -fx-transition: 1s;
    -fx-background-radius: 8;
}

.text-area .content {
    -fx-background-color: #444444;
    -fx-text-fill: #dfdfdf;
}

.input:hover,
.text-area .content:hover,
.text-area:hover {
    -fx-background-color: #666666;
}

.date-picker>* {
    -fx-border-radius: 8px;
    -fx-border-color: #BEBEBE;
    -fx-text-fill: #dfdfdf;
}

.date-picker,
.date-picker>*,
.date-picker>*>*>*,
.date-picker>*>*>*,
.date-picker>*>*>*>* {
    -fx-background-color: #444444;
    -fx-border-color: #BEBEBE;
    -fx-text-fill: #dfdfdf;
    -fx-border-width: 1px;
}

.date-picker>*>.content {
    -fx-background-color: #444444;
    -fx-border-color: #BEBEBE;
    -fx-text-fill: #dfdfdf;
    -fx-border-width: 0px;
}

.date-picker:hover,
.date-picker>*:hover,
.date-picker>*>*>*>*:hover {
    -fx-background-color: #666666;
    -fx-border-color: #BEBEBE;
    -fx-text-fill: #dfdfdf;
    -fx-border-width: 1px;
}

.date-picker>*>.content:hover {
    -fx-background-color: #666666;
}

.menu-bar,
.menu .label {
    -fx-background-color: #444444;
    -fx-text-fill: #dfdfdf;
}

.menu-bar {
    -fx-border-bottom: solid;
    -fx-border-width: 1px;
    -fx-border-color: #BEBEBE;
}

.menu .label:hover {
    -fx-text-fill: #666666;
}

.menu-item .label {
    -fx-text-fill: #dfdfdf;
}

.menu-item:focused {
    -fx-background-color: #444444;
    -fx-text-fill: #666666;
}

.menu-item:focused .label {
    -fx-text-fill: #666666;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: #444444;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
}
/* TABLES */

.table-view,
.table-view .column-header,
.table-view .column-header-background .filler,
.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background, .column-header{
    -fx-background-color: #444444;
    -fx-border-color: #BEBEBE;
    -fx-text-fill: #dfdfdf;
    -fx-border-width: 1px;
}
